<!DOCTYPE html>
<html>
    <head>
        <title>NaviSearch</title>
        <link rel="icon" type="image/x-icon" href="img/placeholder.png">
    </head>
<body> 
    <h1 id="hi">
        Hi
    </h1>
</body>
<link rel="stylesheet" href="css/styles.css">
<script src="js/control.js"></script>
</html>