<!DOCTYPE html>
<html>
    <head>
        <title>MilkSearch</title>
        <link rel="icon" type="image/x-icon" href="img/milk.png">
    </head>
<body> 
    <h1 class="title" id="milk">
        Milk
    </h1>
    <h1 class="title" id="search">
        Search
    </h1>
</body>
<link rel="stylesheet" href="css/styles.css">
<script src="js/control.js"></script>
</html>