<<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/a9906713fe.js" crossorigin="anonymous"></script>
        <title>MilkSearch</title>
        <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    </head>
    <body> 
    hi
    </body>
</html>
