.title {
    font-size: 100px;
    color:white;
    margin-top:6%;
    min-width: 3.5em;
}

#titleBackground{
    width: 3.5em;
    background-color: #98d5ff;
    border-radius:50px;
    text-align: left;
    padding:20px;
}

#milk{
    /*border: 3px solid #98d5ff;*/
    width: 3.5em;
    color:#98d5ff;
    background-color: white;
    text-align: center;
    padding:20px;
}


.container{
    flex-direction: column;
    display:flex;
    align-items: center;
}

#search{
    margin-top:2%;
    min-width:40%;
}

#input-group{
    width:100%;
}

#searchForm{
    width: 50%;
}

.btn-primary{
    background-color: #98d5ff;
    border-color: #98d5ff;
}

#milkImage{
    width: 60px;
    height: 60px;
    margin: 15px 0px 0px 15px;
}
.container{
    margin:0;
    max-width: none;
}

#searchText{
    min-width: 100%;
}

.footer { 
    position: absolute; 
    bottom: 0;
    left: 43%;
    right:43%;
    z-index: 10;
    color: #98d5ff;
}

#acronym{
    text-align: center;
}

#submitButton:{
    width:100%;
}