.title-holder {
    text-align: center;
    width:100%;
}

.title {
    font-size: 100px;
    background-color: #98d5ff;
    color:white;
    margin-top:6%;
    min-width: 3.5em;
}

#milk{
    /*border: 3px solid #98d5ff;*/
    padding:20px;
    color:#98d5ff;
    background-color: white;
}

#searchTitle{
    padding:20px;
    border-radius:50px;
}

.container{
    flex-direction: column;
    display:flex;
    align-items: center;
}

#search{
    margin-top:2%
}

.btn-primary{
    background-color: #98d5ff;
    border-color: #98d5ff;
}

#milkImage{
    width: 4%;
    height: 4%;
    margin: 1% 0 0 1%;
}
.container{
    margin:0;
    max-width: none;
}